* {
    margin:0;
    padding:0;


}
body { 

    background-color:#ffffff

}

#container-cima { 

    height:70px;
    background-color:#ffffff;
    border-bottom: 1px solid #c4ddf9c5;
}
ol,li { 
    display:inline;

}

a {                 
    text-decoration:none;
    color:rgb(255, 255, 255);



}
.imagem-logo { 

    width:200px;
    padding:4px;
    float:left;
    margin-top: 5px;
    margin-left:8px;

}

.busca-tipo {       
    background: url(/PORTFOLIO/imagens/lupa.png) no-repeat center;
    padding:10px;
    border:none;
    width:20px;
    margin-left:380px;
    margin-top: 20px;
    font-size: 15px;
    color:rgba(8, 8, 8, 0.836);
    font-family: Arial, Helvetica, sans-serif;



}
.busca-tipo:focus { 

    background: url(lupa.png) no-repeat center right;
    border-bottom: solid 1px #ddd;
    outline: none;
    width:200px;
    transition: all 0.7s linear;
}
.menu { 
    float:right;
    color:black;
    margin-top: 25px;
    margin-right:100px;



}

.menu-item1,.menu-item2,.menu-item3,.menu-item4 { 

    color:#3d5672c5;
    padding:15px;
    font-size:18px;
    font-weight:bold;
    font-family: fantasy;
}
.menu-item1:hover,.menu-item2:hover,.menu-item3:hover,.menu-item4:hover { 

    color:#ffffff;
    margin-right:10px;
    transition: all 0.7s linear;
    background-color:#6499d6cc;
}
h1 { 
    font-size:32px;
    text-align:center;
    font-weight:500;
    border-bottom:1px solid rgba(153, 153, 153, 0.671);
    width:500px;
    margin-left:400px;
    cursor:default
    

}
.cond { 

    font-size:20px;
    color:#6d8bade0;
}

#container-camisas { 

    width:1200px;
    height:450px;
    background-color: rgba(247, 247, 247, 0);
    border: 1px solid rgba(0, 0, 0, 0);
    margin-left:30px;
    position: relative;
}

.camisa1 { 

    width:22%;
    height:86%;
    background-color: white;
    border:1px solid rgba(201, 200, 200, 0.623);
    border-radius:20px;
    position: relative;
    margin-left:30px;
    margin-top:5px;
    float:left;
    
    

}
.camisa2 { 
    width:22%;
    height:86%;
    background-color: white;
    border:1px solid rgba(201, 200, 200, 0.623);
    border-radius:20px;
    position: relative;
    margin-left:30px;
    margin-top:5px;
    float:left;

}

.camisa3 { 

    width:22%;
    height:86%;
    background-color: white;
    border:1px solid rgba(201, 200, 200, 0.623);
    border-radius:20px;
    position: relative;
    margin-left:30px;
    margin-top:5px;
    float:left;
    
}
.camisa4 { 

    width:22%;
    height:86%;
    background-color: white;
    border:1px solid rgba(201, 200, 200, 0.623);
    border-radius:20px;
    position: relative;
    margin-left:30px;
    margin-top:5px;
    float:left;
    
}

.camisa1:hover,.camisa2:hover,.camisa3:hover,.camisa4:hover{ 

    height:89%;
    transition: all 0.5s linear;
    border:1px solid #788ba0c5;



}

.img-camisa { 

    width:90%;
    height:225px;
    margin-left:20px;
    margin-bottom:3px;
    border-radius: 20px;
}

h2 { 
    color:rgb(12, 29, 65);
    text-align:center;
    font-size:23px;
}

.preço-antigo-camisa1 { 
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    text-decoration: line-through;
    font-weight: normal;


}

.preço-novo-camisa1 { 

    font-family:Arial, Helvetica, sans-serif;
    font-size:24px;
    padding-left: 10px;

}

p { 

    text-align:center;
    padding-top:2px;    

}

.btn-comprar1 { 

    width:160px;
    height:18px;
    border:1px solid rgb(255, 255, 255);
    border-radius: 70px;
    background-color:rgb(255, 255, 255);
    color:rgb(255, 255, 255);
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    padding:4px;
    margin-left:50px;            
}

.btn-comprar1:hover { 
    background-color: black;
    color:white;
    transition: all 0.5s linear;

}

.tracinho { 

    width:80%;
    height:2px;
    background-color:rgba(0, 0, 0, 0.664);
    margin-left:25px;

}

.btn-inf {
     
    width:160px;
    height:18px;
    border:1px solid rgba(255, 255, 255, 0.808);
    border-radius: 70px;
    background-color:rgb(255, 255, 255);
    color:rgb(255, 255, 255);
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    padding:4px;
    margin-left:50px; 
    margin-top:4px;  
}
.btn-inf:hover { 
    background-color: black;
    color:white;
    transition: all 0.5s linear;

}
.contatos { 

    background-color:rgba(0, 0, 0, 0.1);
    height:140px;
    border-top:rgba(54, 87, 76, 0.486) 1px solid
}

h1 { 

text-align:center;
color:black;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size:20px;
}

h5 { 

color:rgb(14, 168, 84);
font-size:16px;
border: 1px solid black;
border-radius: 40px;
width:120px;
height:20px;
margin-top:5px;
font-family:Arial, Helvetica, sans-serif;
padding:2px;
}
h6 { 

color:rgb(14, 168, 84);
font-size:16px;
border: 1px solid black;
border-radius: 40px;
width:215px;
height:20px;
margin-top:5px;
font-family:Arial, Helvetica, sans-serif;
padding:3px;
}

h5:hover,h6:hover { 

color:black;
transition: all 0.7s linear;
cursor: pointer;
}
.wpp { 

display:flex;
flex-direction:row;
flex-wrap: wrap;
margin-left:520px;
}

.img-wpp { 
    padding:5px;   
}

.img-email { 

padding:5px;
}
#final-fundo { 
height:30px;
background-color:black;
border:1px solid rgba(0, 0, 0, 0.808);
padding:5px;
}
.final-frase { 

    margin-left: 480px;
    font-size:18px;
    font-family:arial;
    color:white;
}
